* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 img {
  width: 75%;
}

#main-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main-search_input {
  height: 50px;
  width: 80%;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  padding: 15px;
}
.fa-search {
  color: #000000;
  font-size: 24px;
}

#selected-tags-list {
  border: 2px solid blue;
  margin: 25px;
}

#secondary-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ingredient-label input,
.appareil-label input,
.utensil-label input {
  height: 4em;
  width: 9em;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.ingredient-label input {
  background-color: #3282f7;
}
.appareil-label input {
  background-color: #68d9a4;
}

.utensil-label input {
  background-color: #ed6454;
}
#utensils-btn {
  position: relative;
  top: 40%;
  right: 25%;
  border: none;
  color: #ffffff;
  background-color: #ed6454;
}
#appareils-btn {
  position: relative;
  top: 40%;
  right: 25%;
  border: none;
  color: #ffffff;
  background-color: #68d9a4;
}
#ingredients-btn {
  position: relative;
  top: 40%;
  right: 25%;
  border: none;
  color: #ffffff;
  background-color: #3282f7;
}

@media screen and (min-width: 599px) {
  h1 img {
    width: 45%;
  }
}

@media screen and (min-width: 991px) {
  h1 img {
    width: 25%;
  }
  #secondary-search {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}
