* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 img {
  width: 75%;
  margin: 30px;
}

#main-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main-search_input {
  height: 50px;
  width: 80%;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  padding: 15px;
}
.fa-search {
  color: #000000;
  font-size: 24px;
}

#selected-tags_list {
  border: 2px solid blue;
  margin: 25px;
}

#secondary-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ingredient-label input,
.appareil-label input,
.utensil-label input {
  height: 4em;
  width: 7em;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
}

.ingredient-label input {
  background-color: #3282f7;
}
.appareil-label input {
  background-color: #68d9a4;
}

.utensil-label input {
  background-color: #ed6454;
}

#utensils-btn {
  position: relative;
  top: 40%;
  right: 25%;
  border: none;
  color: #ffffff;
  background-color: #ed6454;
}
#appareils-btn {
  position: relative;
  top: 40%;
  right: 25%;
  border: none;
  color: #ffffff;
  background-color: #68d9a4;
}
#ingredients-btn {
  position: relative;
  top: 40%;
  right: 25%;
  border: none;
  color: #ffffff;
  background-color: #3282f7;
}
.blank {
  border: 2px solid black;
}
#recipes {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-evenly;
  margin: 25px;
}
.recipe-section {
  overflow: scroll;
  justify-content: space-evenly;
  border-top: 130px solid rgb(133, 129, 129);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  max-width: 250px;
  max-height: 250px;
  background-color: #d8d6d6c5;
}
.title-section {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}
.text-section {
  display: grid;
  grid-template-columns: 40% 60%;
}
.recipe-name {
  font-size: 14px;
  font-weight: 100;
  margin: 10px;
}
.fa-clock {
  font-size: 16px;
  margin: 3px;
}
.recipe-time {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}
.recipe-ingredient {
  font-size: 12px;
  margin: 10px;
}

.recipe-description {
  font-size: 12px;
  margin: 10px;
}

@media screen and (min-width: 599px) {
  h1 img {
    width: 45%;
  }
  .ingredient-label input,
  .appareil-label input,
  .utensil-label input {
    height: 4em;
    width: 9em;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 991px) {
  h1 img {
    width: 25%;
  }
  #secondary-search {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .recipe-section {
    max-width: 400px;
    max-height: 350px;
  }
  .recipe-name {
    font-size: 18px;
    font-weight: 100;
    margin: 10px;
  }
  .fa-clock {
    font-size: 20px;
    margin: 3px;
  }
  .recipe-time {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
  }
}
